*.o
*.lo
*.a
*.la
*~
*.gcno
*.gcda
*.gcov
/gcov-report.txt

.deps
.dirstamp
.libs
stamp-h1
stamp-h2
/INSTALL
/compile
/configure.lineno
/depcomp
/ABOUT-NLS
/config.rpath

murrayc-tuple-utils-1.0.pc

Makefile
Makefile.in
/configure
/config.sub
/config.status
/config.log
/config.h
/config.h.in
/config.guess
/autom4te.cache
/aclocal.m4
/mkinstalldirs
/missing
/ltmain.sh
/libtool
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/compile-binding.am
/dist-changelog.am
/doc-reference.am
/generate-binding.am
/messages.mo
/omf.make
/xmldocs.make

/test-driver
*.log
*.trs

/macros/libtool.m4
/macros/ltoptions.m4
/macros/ltsugar.m4
/macros/ltversion.m4
/macros/lt~obsolete.m4

# docs
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/*.log
/docs/reference/*.tag
/docs/reference/*.devhelp2
/docs/reference/html/

tests/test_tuple_cat
tests/test_tuple_cdr
tests/test_tuple_end
tests/test_tuple_interlace
tests/test_tuple_start
tests/test_tuple_subset
tests/test_tuple_transform_each





